<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head::head(~{::title})">
    <title>메인 페이지</title>
</head>

<body>
<div class="wrapper">
    <!-- Header -->
    <header th:replace="commons/header::header"></header>

    <div class="main-content">
        <section class="advt-post bg-gray py-5">
            <div class="container">
                <form action="#!" method="POST">
                    <!-- Post Your ad start -->
                    <fieldset class="border border-gary px-3 px-md-4 py-4 mb-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Post Your ad</h3>
                            </div>
                            <div class="col-lg-6">
                                <h6 class="font-weight-bold pt-4 pb-1">Title Of Ad:</h6>
                                <input type="text" class="form-control bg-white" placeholder="Ad title go There" required>
                                <h6 class="font-weight-bold pt-4 pb-1">Ad Type:</h6>
                                <div class="row px-3">
                                    <div class="col-lg-4 mr-lg-4 my-2 pt-2 pb-1 rounded bg-white">
                                        <input type="radio" name="itemName" value="personal" id="personal" required>
                                        <label for="personal" class="py-2">Personal</label>
                                    </div>
                                    <div class="col-lg-4 mr-lg-4 my-2 pt-2 pb-1 rounded bg-white ">
                                        <input type="radio" name="itemName" value="business" id="business" required>
                                        <label for="business" class="py-2">Business</label>
                                    </div>
                                </div>
                                <h6 class="font-weight-bold pt-4 pb-1">Description:</h6>
                                <textarea name="" id="" class="form-control bg-white" rows="7"
                                          placeholder="Write details about your product" required></textarea>
                            </div>
                            <div class="col-lg-6">
                                <h6 class="font-weight-bold pt-4 pb-1">Select Ad Category:</h6>
                                <select name="" class="form-control w-100 bg-white" id="inputGroupSelect">
                                    <option value="1">Select category</option>
                                    <option value="2">Laptops</option>
                                    <option value="3">iphone</option>
                                    <option value="4">microsoft</option>
                                    <option value="5">monitors</option>
                                    <option value="6">11inch Macbook Air</option>
                                    <option value="7">Study Table Combo</option>
                                    <option value="8">11inch Macbook Air</option>
                                    <option value="9">Study Table Combo</option>
                                    <option value="10">11inch Macbook Air</option>
                                </select>
                                <div class="price">
                                    <h6 class="font-weight-bold pt-4 pb-1">Item Price ($ USD):</h6>
                                    <div class="row px-3">
                                        <div class="col-lg-4 rounded my-2 px-0">
                                            <input type="text" name="price" class="form-control bg-white" placeholder="Price" id="price">
                                        </div>
                                        <div class="col-lg-4 ml-lg-4 my-2 pt-2 pb-1 rounded bg-white ">
                                            <input type="radio" name="itemName" value="Negotiable" id="Negotiable">
                                            <label for="Negotiable" class="py-2">Negotiable</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose-file text-center my-4 py-4 rounded bg-white">
                                    <label for="file-upload">
                                        <span class="d-block font-weight-bold text-dark">Drop files anywhere to upload</span>
                                        <span class="d-block">or</span>
                                        <span class="d-block btn bg-primary text-white my-3 select-files">Select files</span>
                                        <span class="d-block">Maximum upload file size: 500 KB</span>
                                        <input type="file" class="form-control-file d-none" id="file-upload" name="file">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- Post Your ad end -->
                    <button type="submit" class="btn btn-primary d-block mt-2">Post Your Ad</button>
                </form>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer th:replace="commons/footer::footer"></footer>
</div>

<!-- Essential Scripts -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/popper.min.js"></script>
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/plugins/bootstrap/bootstrap-slider.js"></script>
<script src="/plugins/tether/js/tether.min.js"></script>
<script src="/plugins/raty/jquery.raty-fa.js"></script>
<script src="/plugins/slick/slick.min.js"></script>
<script src="/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>

<script src="/js/script.js"></script>
</body>
</html>