<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head::head(~{::title})">
    <title>게시글 상세보기</title>
</head>

<body>
<div class="wrapper">
    <!-- Header -->
    <header th:replace="commons/header::header"></header>

    <div class="main-content">
        <!-- Page Title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <!-- Title text -->
                        <h3>게시판</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog single-blog section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <article class="single-post">
                            <h2 th:text="${board.title}"></h2>
                            <ul class="list-inline">
                                <li class="list-inline-item">작성자 <a href="user-profile.html" th:text="${board.id}"></a></li>
                                <li class="list-inline-item" th:text="${board.resdate}"></li>
                            </ul>
                            <!--<img src="images/blog/post-4.jpg" alt="article-01">-->
                            <p th:text="${board.content}"></p>

                            <!--
                            <ul class="social-circle-icons list-inline">
                                <li class="list-inline-item text-center"><a class="fa fa-facebook" href="https://themefisher.com/"></a></li>
                                <li class="list-inline-item text-center"><a class="fa fa-twitter" href="https://themefisher.com/"></a></li>
                                <li class="list-inline-item text-center"><a class="fa fa-google-plus" href="https://themefisher.com/"></a></li>
                                <li class="list-inline-item text-center"><a class="fa fa-pinterest-p" href="https://themefisher.com/"></a></li>
                                <li class="list-inline-item text-center"><a class="fa fa-linkedin" href="https://themefisher.com/"></a></li>
                            </ul>
                            -->
                            <!--<a th:href="@{/board/detail(bno=${board.bno})}"-->
                            <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                    <a href="https://themefisher.com/" class="btn btn-info">수정</a>
                                </li>
                                <li class="list-inline-item">
                                    <a th:href="@{/board/delete(bno=${board.bno})}" class="btn btn-danger">삭제</a>
                                </li>
                            </ul>

                        </article>
                        <div class="block comment">
                            <h4>Leave A Comment</h4>
                            <form action="#">
                                <!-- Message -->
                                <div class="form-group mb-30">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" id="message" rows="8" required></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <!-- Name -->
                                        <div class="form-group mb-30">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <!-- Email -->
                                        <div class="form-group mb-30">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" required>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-transparent">Leave Comment</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar">
                            <!-- Search Widget -->
                            <div class="widget search p-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="expire" placeholder="Search...">
                                    <span class="input-group-addon"><i class="fa fa-search px-3"></i></span>
                                </div>
                            </div>
                            <!-- Category Widget -->
                            <div class="widget category">
                                <!-- Widget Header -->
                                <h5 class="widget-header">Categories</h5>
                                <ul class="category-list">
                                    <li><a href="category.html">Appearel <span class="float-right">(2)</span></a></li>
                                    <li><a href="category.html">Accesories <span class="float-right">(5)</span></a></li>
                                    <li><a href="category.html">Business<span class="float-right">(7)</span></a></li>
                                    <li><a href="category.html">Entertaiment<span class="float-right">(3)</span></a></li>
                                    <li><a href="category.html">Education<span class="float-right">(9)</span></a></li>
                                </ul>
                            </div>
                            <!-- Archive Widget -->
                            <div class="widget archive">
                                <!-- Widget Header -->
                                <h5 class="widget-header">Archives</h5>
                                <ul class="archive-list">
                                    <li><a href="ad-list-view.html">January 2017</a></li>
                                    <li><a href="ad-list-view.html">February 2017</a></li>
                                    <li><a href="ad-list-view.html">March 2017</a></li>
                                    <li><a href="ad-list-view.html">April 2017</a></li>
                                    <li><a href="ad-list-view.html">May 2017</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer th:replace="commons/footer::footer"></footer>
</div>



<!-- Essential Scripts -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/popper.min.js"></script>
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/plugins/bootstrap/bootstrap-slider.js"></script>
<script src="/plugins/tether/js/tether.min.js"></script>
<script src="/plugins/raty/jquery.raty-fa.js"></script>
<script src="/plugins/slick/slick.min.js"></script>
<script src="/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>

<script src="/js/script.js"></script>
</body>
</html>