<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head::head(~{::title})">
    <title>메인 페이지</title>
</head>

<body>
<div class="wrapper">
    <!-- Header -->
    <header th:replace="commons/header::header"></header>

    <div class="main-content"></div>

    <!-- Footer -->
    <footer th:replace="commons/footer::footer"></footer>
</div>

<!-- Essential Scripts -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/popper.min.js"></script>
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/plugins/bootstrap/bootstrap-slider.js"></script>
<script src="/plugins/tether/js/tether.min.js"></script>
<script src="/plugins/raty/jquery.raty-fa.js"></script>
<script src="/plugins/slick/slick.min.js"></script>
<script src="/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>

<script src="/js/script.js"></script>
</body>
</html>